<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
     <link rel = "icon" href = "{{ icon }}" type = "image/x-icon"> 
  <meta name="author" content="{{ author }}">
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Righteous|Ubuntu+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css" type="text/css">
  </head>
  <body>
  <div id="particles-js"></div>
  <div class="container">
    <div class="center">
      <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-5">
          <img class="image img-fluid" src="{{ avatar }}" alt="{{ avatar_alt }}">
        </div>
        <div class="col-md">
          <p class="header1">{{ header1 }}</p>
          <p class="header3">{{ header2 }}</p>
          <p class="header2">{{ header3 }}</p>
{% for item in links %}
          <a class="link1" href="{{ item.link }}" data-toggle="tooltip" data-placement="bottom" title="{{ item.title }}"><i class="{{ item.icon }}"></i></a>
{% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- check secret.html -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script src="js/main.js"></script>
  </body>
</html>

